{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <form method="POST" id="formLogin">
        {% csrf_token %}
        <div class="card mt-5 mb-3 shadow rounded-1 w-100 d-flex flex-column">
            <div class="card-header text-center fw-semibold">
                Login
              </div>
            <div class="card-body d-flex flex-column gap-4">
                <div class="mb-2 w-100 flex-grow-1">
                    {{ form.username|as_crispy_field }}
                </div>
                <div class="mb-2">
                    {{ form.password|as_crispy_field }}
                </div>
            </div>
            <div class="card-footer text-center">     
                <input name="next" type="hidden" value="{{ next }}"/>
                <button class="btn btn-primary btn-lg rounded-1 mt-4" type="submit"">Entrar</button>
             </div>
        </div>
    </form>
    
</div>

{% endblock %}
