{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<main>
    <button class="btn btn-primary" type="submit">Novo</button>

    <table class="table">
        
        <tbody>
          <tr>
            <td>LATAM Airlines Brasil</td>
            <td>Ativo</td>
            <td>Editar</td>
          </tr>
          <tr>
            <td>Coca Cola Industrias Ltda</td>
            <td>Ativo</td>
            <td>Editar</td>
          </tr>
          <tr>
            <td>Acme Inc.</td>
            <td>Inativo</td>
            <td>Editar</td>
          </tr>
        </tbody>
      </table>
</main>
{% endblock %}