{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<main class="container d-flex flex-column justify-content-center align-items-end">
  
    <div class="align-self-end mb-3">
      <a href="/novaempresa/">
        <button class="btn btn-primary btn-lg rounded-1 mb-4 mt-4" type="submit">Novo</button>
      </a>
    </div>

    <div class="d-flex flex-column w-100">
      <div class="card mb-3 shadow ms-auto rounded-1 flex-grow-1" style="width: 100%;">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            
            {% for empresa in empresas %}
            <li class="list-group-item d-inline-flex align-items-center gap-5">
              <p class="flex-grow-1 mb-0">
                {{empresa.name}}
              </p>
              {% if empresa.active == 'Ativo' %}
              <span class="badge rounded-pill bg-success">{{empresa.active}}</span>
              {% else %}
              <span class="badge rounded-pill bg-dark">{{empresa.active}}</span>
              {% endif %}
              <a href = "/viewempresa/{{empresa.id}}">
                <button class="btn btn-outline-primary" type="submit">
                  <i class="bi bi-pencil-square"></i>
                  Editar
                </button>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div> 

      <div class="d-flex justify-content-center align-items-center flex-shrink-0 mt-4">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            
            {% if empresas.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ empresas.previous_page_number }}">Anterior</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Anterior</span></li>
            {% endif %}
        
            {% for i in empresas.paginator.page_range %}
            {% if empresas.number == i %}
            <li class="page-item"><a class="page-link active" href="?page={{ i }}">{{ i }}</a></li>
            {% elif i > empresas.number|add:'-3' and i < empresas.number|add:'3' %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
        
            {% if empresas.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ empresas.next_page_number }}">Próxima</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Próxima</span></li>
            {% endif %}

          </ul>
        </nav>
      </div>
    </div>

</main>
{% endblock %}
