{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<main class="container d-flex flex-column justify-content-center align-items-end">
  
    <div class="align-self-end mb-3">
      <button class="btn btn-primary btn-lg rounded-1 mb-4 mt-4" type="submit">Novo</button>
    </div>

      <div class="card mb-3 shadow ms-auto rounded-1" style="width: 100%;">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            
            <li class="list-group-item d-inline-flex align-items-center gap-5">
              <p class="flex-grow-1 mb-0">
                LATAM Airline Brasil
              </p>
              <span class="badge rounded-pill text-bg-success">Ativo</span>
              <button class="btn btn-outline-primary" type="submit">
                <i class="bi bi-pencil-square"></i>
                Editar
            </button>
            </li>
            
            <li class="list-group-item d-inline-flex align-items-center gap-5">
              <p class="flex-grow-1 mb-0">
                Coca Cola Indústrias LTDA.
              </p>
              <span class="badge rounded-pill text-bg-success">Ativo</span>
              <button class="btn btn-outline-primary" type="submit">
                <i class="bi bi-pencil-square"></i>
                Editar
              </button>
            </li>
            
            <li class="list-group-item d-inline-flex align-items-center gap-5">
              <p class="flex-grow-1 mb-0">
                ACME Inc.
              </p>
              <span class="badge rounded-pill text-bg-dark">Inativo</span>
              <button class="btn btn-outline-primary" type="submit">
                <i class="bi bi-pencil-square"></i> 
                Editar
              </button>
            </li>
          
          </ul>
        </div>
      </div>

  

</main>
{% endblock %}
