{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex flex-row">
    <div class="container d-flex flex-column text-wrap w-25 m-0 ms-5 mt-5 me-5">
        <div class="mb-5">
            <h1 class="fs-5 fw-semibold">
                Dados Cadastrais
            </h1>
            <p class="fs-6">
                Informações cadastrais da empresa cliente.
            </p>
        </div>
        <div>
            <h1 class="fs-5 fw-semibold">
                CNPJs
            </h1>
            <p class="fs-6">
                Cadastro de CNPJs relacionados com a empresa cliente. Arquivos serão associados a um CNPJ durante o upload.
            </p>
        </div>
    </div>
    
    <div class="container d-flex flex-column mt-5 me-5">
        <form method="POST" action="{% url 'editEmpresa' empresa.id %}" id="edit-empresa-form"">
            {% csrf_token %}
        <div class="card mb-5 shadow ms-auto rounded-1 w-100 d-flex flex-row">
            <div class="card-body d-flex flex-row gap-4">
                <div class="mb-3 w-100 flex-grow-1">
                    
                    <label for="formGroupExampleInput" class="form-label">Empresa</label>
                    <input name="name" type="text" class="form-control" id="formGroupExampleInput" placeholder="{{empresa.name}}">
                </div>
                <div class="mb-3 w-25">
                   
                    <label for="inputState" class="form-label">Ativo</label>
                    <select name="active" id="inputState" class="form-select">
                        <option selected>Ativo</option>
                        <option>Inativo</option>
                    </select>
                </div>
            </div>
        </div>
        <form onsubmit="displayCNPJ(); return false;">
        <div class="card mb-3 shadow ms-auto rounded-1 w-100" id="cnpj-card">
            <div class="card-header d-flex justify-content-end"> 
                <button class="btn btn-primary rounded-1 me-3" type="button" data-bs-toggle="modal" data-bs-target="#adicionandoCNPJ">
                    <i class="bi bi-plus"></i>
                    Novo
                </button>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-inline-flex align-items-center gap-5">
                    <p class="flex-grow-1 mb-0">
                        {{empresa.Cnpj}}
                    </p>
                    <p class="flex-grow-1 mb-0">
                        {{empresa.name}}
                    </p>
                    {% if empresa.active == 'Ativo' %}
                    <span class="badge rounded-pill bg-success">{{empresa.active}}</span>
                    {% else %}
                    <span class="badge rounded-pill bg-dark">{{empresa.active}}</span>
                    {% endif %}
                    <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#editandoCNPJ">
                    <i class="bi bi-pencil-square"></i>
                    Editar
                    </button>

                    <div class="modal" tabindex="-1" id="adicionandoCNPJ">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Adicionando CNPJ</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="{% url 'editEmpresa' empresa.id %}" onsubmit="addCNPJ(); return false;">
                                        {% csrf_token %}
                                        <div class="mb-3 w-25">
                                            <label for="inputState" class="form-label">Ativo</label>
                                            <select id="inputState" class="form-select" name="active">
                                                <option value="True" {% if empresa.active %}selected{% endif %} name="Ativo">Ativo</option>
                                                <option value="False" {% if not empresa.active %}selected{% endif %} name="Inativo">Inativo</option>
                                            </select>
                                        </div>
                                        <div class="mb-3 w-100 flex-grow-1">
                                            
                                            <label for="id_Cnpj" class="form-label">CNPJ</label>
                                            <input type="text" class="form-control" id="cnpjInput" name="Cnpj" placeholder="{{empresa.Cnpj}}">
                                        </div>
                                        <div class="mb-3 w-100 flex-grow-1">
                                            
                                            <label for="id_name" class="form-label">Nome</label>
                                            <input type="text" class="form-control" id="id_name" name="name" placeholder="{{empresa.name}}">
                                        </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Salvar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                    <div class="modal" tabindex="-1" id="editandoCNPJ">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Editando CNPJ</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                        {% csrf_token %}
                                        <div class="mb-3 w-25">
                                            <label for="inputState" class="form-label">Ativo</label>
                                            <select id="inputState" class="form-select" name="active">
                                                <option {% if empresa.active %}selected{% endif %} name="Ativo">Ativo</option>
                                                <option {% if not empresa.active %}selected{% endif %} name="Inativo">Inativo</option>
                                            </select>
                                        </div>
                                        <div class="mb-3 w-100 flex-grow-1">
                                            <label for="id_Cnpj" class="form-label">CNPJ</label>
                                            <input type="text" class="form-control" id="cnpjInput" name="Cnpj" placeholder="{{empresa.Cnpj}}">
                                        </div>
                                        <div class="mb-3 w-100 flex-grow-1">
                                            <label for="id_name" class="form-label">Nome</label>
                                            <input type="text" class="form-control" id="id_name" name="name" placeholder="{{empresa.name}}">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Salvar</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                    
                    </li>
                </ul>
            </div>
        </form>
        </div>
        
        <div class="sticky-bottom position-relative d-flex justify-content-between">
            <div class="mb-5 mt-4">
                <form method="POST" action="{% url 'deleteEmpresa' empresa.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ empresa.id }}">
                    <button class="btn btn-outline-danger btn-lg rounded-1" type="submit">Excluir</button>
                  </form>  
            </div>
            <div class="mb-5 mt-4">
                <form method="POST" action="{% url 'editEmpresa' empresa.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ empresa.id }}">
                    <button class="btn btn-primary btn-lg rounded-1" type="submit">Salvar</button>
                </form>  
            </div>
        </div>
    </div>

</form>
</div>

{% endblock %}